@font-face {
	font-family: 'fira_sans_condensedheavy';
	src: url('fonts/fira-sans-condensed.heavy-webfont.woff2') format('woff2'),
	     url('fonts/fira-sans-condensed.heavy-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html { /*for fullscreen*/
	background: #600;
	background: -o-linear-gradient(315deg, #700, #400);
	background:    linear-gradient(135deg, #700, #400);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


body {
	background: #600;
	background: -o-linear-gradient(315deg, #700, #400);
	background:    linear-gradient(135deg, #700, #400);
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: fira_sans_condensedheavy, sans-serif;
	color: white;
	cursor: default;
}


#screen {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#langSelect, #titleScreen, #slide {
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
	
	opacity: 0;
	position: absolute;
	top: 100%;
}

#langSelect {
	/*opacity: 1;*/
	top: 0;
	
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* Language selection */

.flag {
	font-size: 2em;
	margin: 0 5%;
	-webkit-box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
	-webkit-transition: -webkit-transform 0.3s;
	     -o-transition:         transform 0.3s;
	        transition:         transform 0.3s;
}

.flag:hover {
	-webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	        transform: scale(1.15);
	cursor: pointer;
}

#noteBrowser {
	position: absolute;
	left: 0;
	bottom: 5%;
	width: 100%;
}

/* Title screen */

#title {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	opacity: 1;
	display: block;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}

#titleWhat, #titleHow, #titleWhy, #titlePlayground {
	position: absolute;
	background-color: #fff;
	padding: 2% 0 1.5% 0;
	border-radius: 200px; /* maxed */
	color: #400;
	font-weight: bold;
	-webkit-transition-property: background-color, -webkit-transform;
	     -o-transition-property: background-color,         transform;
	        transition-property: background-color,         transform;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 4em rgba(0, 0, 0, 0.5);
}

#titleWhat, #titleHow, #titleWhy {
	left: 35%;
	width: 30%;
	padding: 2% 0 1.5% 0;
	font-size: 1.5em;
}

#titleWhat:hover, #titleHow:hover, #titleWhy:hover, #titlePlayground:hover {
	background-color: #edd;
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	cursor: pointer;
}

#titleWhat {
	top: 30%;
}

#titleHow {
	top: 50%;
}

#titleAnd {
	position: absolute;
	top: 63%;
	left: 50.5%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	font-size: 1.2em
}

#titleWhy {
	top: 70%;
}

#titleMark {
	position: absolute;
	bottom: 3.5%;
	left: 1.5%;
	font-size: 0.8em;
}

#titlePlayground {
	bottom: 2%;
	right: 1%;
	width: 20%;
	padding: 1% 0;
}

/* Slide */

#home, #previous, #next {
	-webkit-transition: -webkit-transform 0.3s;
	     -o-transition:         transform 0.3s;
	        transition:         transform 0.3s;
}

/* buttons */

#home {
	position: absolute;
	top: 1%;
	left: 0.8%;
	width: 4.5%;
	padding-bottom: 4.5%;
	background: url(images/home.svg);
	background-size: 100% 100%;
}

#previous {
	display: block;
	position: absolute;
	top: 40%;
	left: 0;
	width: 5%;
	height: 20%;
	background-color: black;
	background: url(images/arrow.svg);
	background-size: 100% 100%;
}

#next {
	display: block;
	position: absolute;
	top: 40%;
	right: 0;
	width: 5%;
	height: 20%;
	background-color: black;
	background: url(images/arrow.svg);
	background-size: 100% 100%;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

#previous:hover {
	-webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	        transform: scale(1.15);
	cursor: pointer;
}

#next:hover {
	-webkit-transform: rotate(180deg) scale(1.15);
	    -ms-transform: rotate(180deg) scale(1.15);
	        transform: rotate(180deg) scale(1.15);
	cursor: pointer;
}

#home:hover {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	cursor: pointer;
}

#slideNumber {
	position: absolute;
	top: 1%;
	right: 0.8%;
}

/* content */

#mainText {
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 90%;
	font-size: 1em;
	-webkit-transition: opacity 0.5s;
	     -o-transition: opacity 0.5s;
	        transition: opacity 0.5s;
}

#mainText .S {
	color: #0c4;
}

#mainText .R {
	color: #46e;
}

#mainText .I {
	color: #d00;
}

#mainText .H {
	color: #fdd;
}

#mainText .D {
	color: #888;
}

#diagram {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 75%;
	-webkit-transition: opacity 0.5s;
	     -o-transition: opacity 0.5s;
	        transition: opacity 0.5s;
	/*background-color: white;*/
	opacity: 0;
}

#graph1, #graph2, #graph3 {
	position: absolute;
	top: 0;
	left: 5%;
	-webkit-transition-property: opacity, width, height, top, left;
	     -o-transition-property: opacity, width, height, top, left;
	        transition-property: opacity, width, height, top, left;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	opacity: 0;
}


/* Sliders */

#sliders {
	display: block;
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	height: 30%;
	-webkit-transition-property: top, left;
	     -o-transition-property: top, left;
	        transition-property: top, left;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

.sliderContainer {
	position: relative;
	display: inline-block;
	opacity: 0;
	width: 49%;
	height: 10%;
	/*padding-bottom: 2%;*/
	font-size: 0.75em;
	-webkit-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}

.sliderName {
	display: inline-block;
	position: absolute;
	top: 10%;
	right: 62%;
	text-align: left;
}

.slider {
	display: inline-block;
	position: absolute;
	top: 10%;
	left: 40%;
	width: 40%;
	
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background: transparent;
	height: 100%;
	margin-top: -1%;
	/*background-color: #a44;*/
}

.slider::-webkit-slider-thumb { /*Webkit*/
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	border: none;
	cursor: pointer;
	margin-top: -6px;
}

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	background-color: #a44;
	margin-top: 2%;
}

.slider::-moz-range-thumb { /*Firefox*/
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	cursor: pointer;
}

.slider::-moz-range-track {
	width: 100%;
	height: 1px;
	background-color: #a44;
}

.slider::-ms-thumb { /*IE*/
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	cursor: pointer;
}

.slider::-ms-track { /*IE*/
	width: 100%;
	height: 1px;
	background-color: #a44;
}

.slider:focus {
	outline: none;
}

.sliderInfo {
	display: inline-block;
	position: absolute;
	top: 10%;
	left: 82%;
}
